@charset "utf-8";

.form-signin {
  max-width: 330px;
  padding: 2% 0 0 0;
  margin: 0 auto;
    vertical-align:bottom;
    text-align: center;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

img#connexion {
    width:200px;
    height:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

div#wrap{
    background-color: #e9f2f9;
    height: auto;
}
body{
    background-color: #e9f2f9;
}