@charset "utf-8";

.body {
    background-image:url(view/logo.png);
    background-attachment:fixed;
}

.form-signin {
  max-width: 330px;
  padding: 20% 0 0 0;
  margin: 0 auto;
    vertical-align:bottom;
    text-align: center;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}