div#dialog-form{
    margin-left:auto;
	margin-right:auto;
    width: 70%;
    padding: 2%;
	background-color: #F5F5F5;
}

div#form-group{
   text-align: center; 
}

div#dialog-form label{
   text-align: left; 
}

label#col-sm-3 control-label{
 text-align: justify;   
}
