div#answerBDD {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

div#blockAnswerEdit {
  width: 75%;
margin-right: auto;
  margin-left: auto;
}

h4{
    text-align: -webkit-auto;
}

div#blockAnswer{
	margin-bottom: 100px;
}
