*{
-moz-box-sizing: border-box; 
    box-sizing: border-box;
}

html{
 margin: 0;
    padding: 0;
    height: 100%;
}
body {
    text-align: center;  
     background-color: #f2f3f4;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative;
}

.header {
	height: 10%;
}

nav.navbar {
	background-color: #3498db;
    top: 0;
}

.navbar-nav>li>a {
	color: #FFFFFF;
    font-size: medium;
}

.navbar-right>p {
	color: #FFFFFF;	
}

.footer {
    text-align: center;
  position: absolute;
  bottom: 0;
    left:0;
    right:0;
    margin: 0;
  width: 100%;
  height: 50px;
    
  /* trouver une couleur identique au header !!!!!!!!! */
  background-color: #337ab7;
}
.footer>.container>p {
    color: #FFFFFF;	
    text-align: center;
    padding: 2% 0 0 0;
}

h1{
    text-align: left;
    padding: 1% 0 0 7%;
    font-weight:bold;
}

.hide-option {
  /*display: none !important;*/
}

