.header {
	height: 10%;
}

.navbar {
	background-color: #3498db;
}

.navbar-nav>li>a {
	color: #FFFFFF;	
}

.navbar-right>p {
	color: #FFFFFF;	
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #337ab7;
}
.footer>.container>p {
    color: #FFFFFF;	
    text-align: center;
}

.hide-option {
  display: none !important;
}