*{
-moz-box-sizing: border-box;
    box-sizing: border-box;

}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3dabe8;
}

.header {
	height: 10%;
}

a#Header_Admin {
	color:red;
}

img#header {
width: 55px;
  height: 55px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
}
nav.navbar {
	background-color: #3dabe8;
    top: 0;
}

.navbar-nav>li>a {
	color: #FFFFFF;
    font-size: medium;
}

.navbar-right>p {
	color: #FFFFFF;
}

#container{
    min-height:100%;
    position:relative;
}

#content{
    padding:10px;
    padding-bottom:60px;
}

#footer{
    position:absolute;
    text-align: center;
    bottom:0;
    width:100%;
    height:60px;
     background-color: #3699d0;
}

.footer>.container>p {
    color: #FFFFFF;
    text-align: center;
    padding: 2% 0 0 0;
}

.hide-option {
  display: none !important;
}

p.text-muted {
  padding-top: 2%;
}

h1 {
	margin: 0.67em 0;
}
