div#table_choice_user_wrapper {
  width: 90%;
  MARGIN-LEFT: auto;
  MARGIN-RIGHT: auto;
  TEXT-ALIGN: inherit;
}

div#listVoeux {
  width: 90%;
  MARGIN-LEFT: auto;
  MARGIN-RIGHT: auto;
}

table#table-result {
	margin-bottom: 100px;
}
