div#pageAccueilConnect{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div#AffichageStage{
 border-color:grey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

dl{
    text-align: left;
  padding: 0 0 0 10%;   
}

dl#DESStage {
  padding-top: 1%;
}

span.list-group-item.disabled {
  font-weight: bold;
    letter-spacing: 2px;
}

img.img-responsive {
  float: left;
  width: 13%;
}

.alert.alert-info {
  TEXT-ALIGN: -webkit-center;
}
