body{
     background-color: #f2f3f4;
}
div#AffichageStage{
 border-color:grey;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

dl{
    text-align: left;
  padding: 0 0 0 10%;   
}

dl#DESStage {
  padding-top: 1%;
}

span.list-group-item.disabled {
  font-weight: bold;
    letter-spacing: 2px;
}